<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Footer</title>
</head>
<body>
  <footer>
    <div class="flex justify-stretch flex-row">
     
        <div class="flex flex-col ...">
          <div><img src="../../assets/logo.png"></div>
          <div><p><span>Location:</span>Isr Street gilrt awam juim</p></div>
          <div><p><span>Contact:</span> +9 55555555909</p></div>
          <div><p><span>Time:</span> (9am-5pm EST,Monday-Friday)</p></div>
          <div><p><span>Email:</span>youme&#64;Rule.com</p></div>
        </div>
     
        <div class="flex flex-col ...">
          <div><h1>Company</h1></div>
          <div><p>Case Studies</p></div>
          <div><p>Case Details</p></div>
          <div><p>Privacy Policy</p></div>
          <div><p>Services</p></div>
        </div>
        <div class="flex flex-col ...">
          <div><h2>Explore</h2></div>
          <div><p>About Us</p></div>
          <div><p>Blog And News</p></div>
          <div><p>Blog Details</p></div>
          <div><p>Pricing</p></div>
        </div>
        <div class="flex flex-col ...">
          <div><h2>Insurance</h2></div>
          <div><p>Health Insurance</p></div>
          <div><p>Car Insurance</p></div>
          <div><p>Business Insurance</p></div>
          <div><p>Life Insurance</p></div>
        </div>

     
    </div>
  </footer>
</body>
</html>
