$primary-color: #3eb0a6; 

body{
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 70px;
}
.secondColumn{
  h3{
    color:#3eb0a6;
    font-weight: bold;
    font-size: 12px;
  }
  img{
    width: 50%;
  }
}
.secondSection{
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
 

}
.subscribe2{
  width: 25%;
  height: 10%;
}
.subscribe1{
 
 margin-top: 30px;
 margin-right: 100px;
}

.get-quote-button {
  background-color: $primary-color;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
 
}
.lastSection{
  margin-top: 0px;
  input[type="email"] {
    border: 1px solid #000;
    padding-right: 250px;
    border-radius: 5px;
    margin-left: 50px;
   
  }
}