<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Feature-section</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.2/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
  <div class="flex flex-col px-4 md:px-10 lg:px-20">
    <div class="flex flex-col items-center text-center secondColumn">
      <div>
        <h3>OUR FEATURES</h3>
      </div>
      <div>
        <h1 class="text-3xl font-bold Head1">Better Digital Insurance Begins</h1>
      </div>
      <div>
        <h1 class="text-3xl font-bold Head1">Right here</h1>
      </div>
    </div>

    <div class="secondSection mt-8 md:mt-12">
      <!-- Remove 'flex-wrap' on larger screens to keep items in the same line -->
      <div class="flex flex-col md:flex-row justify-around md:justify-between gap-6 md:gap-4">
        <div class="flex flex-col items-center md:items-start text-center md:text-left w-full md:w-1/4 p-4 shadow-lg rounded-lg">
          <div><img src="../../assets/icon1.png" alt="Icon 1"></div>
          <div>
            <h1 class="text-lg font-bold mt-4">Money Back Guarantee</h1>
          </div>
          <div>
            <p>Lorem ipsum dolor sit amet,</p>
            <p>consectetur adipiscing elit. Quis</p>
            <p>placerat arcu nibh sed.</p>
          </div>
        </div>

        <div class="flex flex-col items-center md:items-start text-center md:text-left w-full md:w-1/4 p-4 shadow-lg rounded-lg">
          <div><img src="../../assets/icon2.png" alt="Icon 2"></div>
          <div>
            <h1 class="text-lg font-bold mt-4">All Claims At Anytime</h1>
          </div>
          <div>
            <p>Lorem ipsum dolor sit amet,</p>
            <p>consectetur adipiscing elit. Quis</p>
            <p>placerat arcu nibh sed.</p>
          </div>
        </div>
        

        <div class="flex flex-col items-center md:items-start text-center md:text-left w-full md:w-1/4 p-4 shadow-lg rounded-lg">
          <div><img src="../../assets/icon3.png" alt="Icon 3"></div>
          <div>
            <h1 class="text-lg font-bold mt-4">Digital Insurance Policy</h1>
          </div>
          <div>
            <p>Lorem ipsum dolor sit amet,</p>
            <p>consectetur adipiscing elit. Quis</p>
            <p>placerat arcu nibh sed.</p>
          </div>
        </div>

        <div class="flex flex-col items-center md:items-start text-center md:text-left w-full md:w-1/4 p-4 shadow-lg rounded-lg">
          <div><img src="../../assets/icon4.png" alt="Icon 4"></div>
          <div>
            <h1 class="text-lg font-bold mt-4">Direct Payment App</h1>
          </div>
          <div>
            <p>Lorem ipsum dolor sit amet,</p>
            <p>consectetur adipiscing elit. Quis</p>
            <p>placerat arcu nibh sed.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>


</html>