<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Feature-section</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.2/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
  <div class="flex flex-col px-4 md:px-10 lg:px-20">
    <div class="flex flex-col items-center text-center secondColumn">
      <div>
        <h3>INSURANCE SERVICES</h3>
      </div>
      <div>
        <h1 class="text-3xl font-bold Head1">Take The Worry Out Of Life With</h1>
      </div>
      <div>
        <h1 class="text-3xl font-bold Head1">Insurance Protection</h1>
      </div>
    </div>

    <div class="secondSection mt-8 md:mt-12">
     
      <div class="flex flex-col md:flex-row justify-around  ">
        <div class="flex flex-col items-center md:items-start text-center md:text-left w-full md:w-1/3 p-2 rounded-lg">
          <div class="rounded-lg"><img src="../../assets/Insurance1.png" alt="Icon 1"></div>

        </div>

        <div class="flex flex-col items-center md:items-start text-center md:text-left w-full md:w-1/3 p-2 rounded-lg">
          <div class="rounded-lg"><img src="../../assets/Insurance2.png" alt="Icon 2"></div>

        </div>

        <div class="flex flex-col items-center md:items-start text-center md:text-left w-full md:w-1/3 p-2 rounded-lg">
          <div class="rounded-lg"><img src="../../assets/Insurance3.png" alt="Icon 3"></div>

        </div>


      </div>
    </div>
    <div class="flex flex-col items-center text-center secondColumn">

      <div>
        <p class="text-gray-500 text-sm" >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis placerat arcu nibh sed </p>
      </div>
      <div>
        <p class="text-gray-500 text-sm">placerat elementum. Urna eu et purus et mi sit rhoncus <span style="color: #3eb0a6;;">View All</span></p>
      </div>
    </div>
      

    </div>
 
</body>


</html>